<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>{{ title }}</title>
</head>

<body>

    <nav class='nav'>
        <a class='nav__item' href="/">
            <img class="logo" src="/images/flogo.svg" alt="logo">
        </a>

        <ul class="nav__item nav-links-container" id="nav-links-container">
            <li class="nav__link-wrapper">
                <a class="nav__link" href="/">Home</a>
            </li>
            <li class="nav__link-wrapper">
                <a class="nav__link" href="/about.html">About</a>
            </li>
            <li class="nav__link-wrapper">
                <a class="nav__link" href="/project.html">Projects</a>
            </li>
            <li class="nav__link-wrapper">
                <a class="nav__link" href="/#contact" {% if page.url == "/" %} id="contact-nav-link"
                    {% endif %}>Contact</a>
            </li>
        </ul>

        <button class="nav_item hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav>

    {{ content | safe }}

    <footer class="section section--min-height footer">
        <a href="/">
            <img class="logo" src="/images/flogo.svg" alt="logo">
        </a>
        <p class="text-small">Designed and developed by &#169; 2021 Fatima Camero &#129389;</p>
        <p class="text-small"><a>See the source code here</a></p>
    </footer>

    <script src="js/script.js"></script>
</body>

</html>