<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="https://www.fbcamero.com{{ page.url }}"/>
    <meta name="robots" content="index, noimageindex, nofollow" />
    <!-- Open Graph meta tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.fbcamero.com{{ page.url }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image" content="{{ img }}" />
    <meta property="og:description" content="{{ description }}" />
</head>

<body>

    <nav class='nav'>
        <a class='nav__item' href="/#intro">
            <img class="logo" src="/images/flogo.svg" alt="Fatima Camero">
        </a>

        <ul class="nav__item nav-links-container" id="nav-links-container">
            {# <li class="nav__link-wrapper">
                <a class="nav__link" href="/about.html">About</a>
            </li> #}
            <li class="nav__link-wrapper">
                <a class="nav__link" href="/project.html">Projects</a>
            </li>
            <li class="nav__link-wrapper">
                <a class="nav__link" href="/#contact" {% if page.url == "/" %} id="contact-nav-link"
                    {% endif %}>Contact</a>
            </li>
            <li class="nav__link-wrapper">
                <a class="nav__link" href="/services.html">Services</a>
            </li>
        </ul>

        <button class="nav_item hamburger hamburger--collapse" type="button" aria-label="Main menu">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav>

    {{ content | safe }}

    <footer class="section section--min-height footer">
        <a href="/">
            <img class="logo" src="/images/flogo.svg" alt="Fatima Camero">
        </a>
        <p class="text-small">Designed and developed by &#169; 2021 Fatima Camero &#129389;</p>
        <p class="text-small"><a href="https://github.com/timamero/11ty-my-portfolio" target="_blank">See the source
                code here</a></p>
    </footer>

    <script src="js/script.js"></script>
</body>

</html>