<div class="sample__item">
    <div class="sample__img-wrapper">
        <img class="sample__img" src="{{ sample.data.img }}" alt="{{ sample.data.alt }}">
        <img class="sample__img-mobile" src="{{ sample.data.imgMobile }}" alt="{{ sample.data.altMobile }}">
    </div>
    <a href="{{ sample.data.demo }}" target="_blank" rel="noopener">View Website</a>
</div>