---
title: About
description: Fatima Camero - About me
layout: base.njk
img: /images/tima-polish.jpg
permalink: about.html
---

<main class="main">
    <div class="section section--flex-start section--min-height about">
        <h1>About Me</h1>
        <p>Hi 👋</p>
        <img class="about__img" src="/images/tima-polish.jpg" alt="Profile Photo">
        <p class="text-small">My name is Fatima and I am a self-taught developer. I am a former mechanical engineer with
            some experience in accounting.</p>
        <p class="text-small">I like to create programs and develop websites with Python, JavaScript, HTML, and CSS. I
            am training to be a full-stack web developer and am currently learning React.</p>
        <p class="text-small">I am a creator, problem solver, and lifelong learner. I am available for opportunities and
            am looking for a great team to work with.</p>
        <div class="section__full-last-item">
            <a class="action" href="/#contact">
                <div class="action__wrapper">
                    <p>Get in touch with me</p>
                    <svg version="1.1" viewBox="0 0 18.406 26.812">
                        <path
                            d="M 5,0 4.28125,0.6875 0.6875,4.3125 0,5 0.6875,5.71875 8.375,13.40625 0.6875,21.09375 0,21.8125 0.6875,22.5 4.28125,26.125 5,26.8125 5.71875,26.125 l 12,-12 0.6875,-0.71875 -0.6875,-0.71875 -12,-12 z M 5,2.84375 15.5625,13.40625 5,23.96875 2.8125,21.78125 10.5,14.125 11.21875,13.40625 10.5,12.6875 2.8125,5.03125 Z" />
                    </svg>
                </div>
            </a>
        </div>

    </div>

    <div class="section section--flex-start section--min-height tech-stack">
        <h2>Tech Stack</h2>
        <p>Technologies and languages that I've used:</p>
        <div class="tech-stack-wrapper">
            <p>Python</p>
            <p>JavaScript</p>
            <p>HTML</p>
            <p>CSS</p>
            <p>SQL</p>
            <p>Git</p>
            <p>Django</p>
            <p>11ty</p>
            <p>PostgreSQL</p>
            <p>Figma</p>
            <p>Inkscape</p>
            <p>AWS: S3, CloudFront</p>
        </div>
    </div>

    <div class="section section--flex-start section--min-height services" id="services">
        <h2>My Services</h2>
        <p>I can develop, launch, and maintain the website for your business or brand.</p>
        <div class="services__info-wrapper">
            <div class="services__info">
                <h3>Responsive Design</h3>
                <p class="text-small">Your content will look great on any device</p>
            </div>
            <div class="services__info">
                <h3>Designed for Accessibilty</h3>
                <p class="text-small">Your website will be accessible to all because it will be developed in accordance
                    with WCAG requirements</p>
            </div>
            <div class="services__info">
                <h3>SEO Optimization</h3>
                <p class="text-small">The exposure of your website will be increased with SEO optimization</p>
            </div>
        </div>

        <div class="section__full-last-item">
            <a class="action" href="/#contact">
                <div class="action__wrapper">
                    <p>Contact me for more info</p>
                    <svg version="1.1" viewBox="0 0 18.406 26.812">
                        <path
                            d="M 5,0 4.28125,0.6875 0.6875,4.3125 0,5 0.6875,5.71875 8.375,13.40625 0.6875,21.09375 0,21.8125 0.6875,22.5 4.28125,26.125 5,26.8125 5.71875,26.125 l 12,-12 0.6875,-0.71875 -0.6875,-0.71875 -12,-12 z M 5,2.84375 15.5625,13.40625 5,23.96875 2.8125,21.78125 10.5,14.125 11.21875,13.40625 10.5,12.6875 2.8125,5.03125 Z" />
                    </svg>
                </div>
            </a>
        </div>

    </div>

    {# <div class="section section--flex-start section--min-height sample">
        <h2>Sample Websites</h2>

        <p>Coming soon!</p>

    </div> #}
</main>