---
tags: 
    - project
date: 2020-12-31
title: React Calculator
description: A simple calculator built with React
stack: JavaScript / HTML / CSS
alt: Screenshot of React calculator project
img: /images/project/reactcalculator.jpg
demo: https://codepen.io/mango_mero/pen/BaWxBzb?editors=0110
---