---
tags: 
    - project
    - featuredproject
date: 2020-12-29
title: React Calculator
description: A calculator that displays facts on calculated number
stack: React / JavaScript / HTML / CSS
alt: Screenshot of React calculator project
img: /images/project/reactcalculator.jpg
demo: http://react-calculator.fbcamero.com/
github: https://github.com/timamero/react-calculator
---