---
tags: 
    - project
    - featuredproject
date: 2020-12-31
title: 11ty Starter Website
description: 11ty starter website to use as base for building other websites
stack: JavaScript/ HTML / CSS
alt: Screenshot of Eleventy starter website
img: /images/project/11tystarter.jpg
github: https://github.com/timamero/11ty-starter-website
demo: https://fc-11ty-starter.netlify.app/
---