---
tags: 
    - project
date: 2021-01-04
title: Mock Business Website
description: Website for mock restaurant
stack: HTML / CSS
alt: Screenshot of Restaurant website
img: /images/project/restaurant.jpg
github: https://github.com/timamero/static-site-project_sushi-restaurant
demo: https://timamero-mock-rest.netlify.app/
---