---
tags: 
    - project
    - featuredproject
date: 2020-12-28
title: React Landing Page
description: A responsive, mobile-first designed website created with React
stack: React / JavaScript / HTML / CSS
alt: Screenshot of React Landing Page for made up web application
img: /images/project/aim.jpg
demo: https://fc-aim-landing-page.netlify.app/
github: https://github.com/timamero/react-aim-landing-page
---