---
tags: 
    - project
    - featuredproject
date: 2021-01-02
title: Bulls and Cows Game
description: Code-breaking guessing game
stack: JavaScript / HTML / CSS
img: /images/project/bullsandcows.jpg
github: https://github.com/timamero/javascript-bulls-and-cows
demo: https://js-bulls-and-cows.netlify.app/
---