---
tags: 
    - project
date: 2021-01-05
title: Color Flipper
description: Background color changer application
stack: JavaScript / HTML / CSS
alt: Screenshot of Color Flipper website
img: /images/project/colorflipper.jpg
github: https://github.com/timamero/11ty-color-flipper
demo: https://timamero-color-flipper.netlify.app/
---