---
tags: 
    - sample
date: 2020-12-28
title: Coffee Shop
description: Sample website
alt: Screenshot of Coffee shop website
altMobile: Screenshot of Mobile version of coffee shop website
img: /images/project/lightroast.jpg
imgMobile: /images/project/lightroast-mobile.jpg
demo: http://coffee-shop.fbcamero.com
---