---
tags: 
    - project
    - featuredproject
date: 2021-01-01
title: Task Complete
description: Task management application
stack: Django / Python / HTML / Bulma
alt: Screenshot of Task Complete website
img: /images/project/taskcomplete.jpg
github: https://github.com/timamero/django-task-complete
demo: https://fc-taskcomplete.herokuapp.com/
---
