---
tags: 
    - project
date: 2021-01-06
title: Survey Form
description: Responsive survey form
stack: HTML / CSS
alt: Screenshot of Survey Form
img: /images/project/surveyform.jpg
demo: https://codepen.io/mango_mero/full/OJNLwVm
---