---
tags: 
    - project
    - featuredproject
date: 2021-01-03
title: Recipe, Please!
description: Recipe web scraper application
stack: Django / Python/ HTML / CSS
img: /images/project/recipe.jpg
github: https://github.com/timamero/django-recipe-please
demo: https://recipeplease.herokuapp.com/
---
